<div class="container-fluid text-center">

  <!-- Informations about the player -->
  <div class="row">
    <div class="col-lg-12 text-uppercase"><h2>{{ player['name'] }}</h2></div>
  </div>
  <div class="row">
    <div class="col-lg-6"><p>Vie : {{ player['life'] }}</p></div>
    <div class="col-lg-6"><p>{{ player['position'] }}</p></div>
  </div>
  <div class="row">
    <div class="col-lg-12"><p>{{ message }}</p></div>
  </div>

  <!-- MAP -->
  <div class="map-all">
    <div *ngFor="let y of [].constructor(6); let i=index" class="row">
      <div *ngFor="let x of [].constructor(6); let j=index" id="case{{i}}-case{{j}}" class="col-lg-2 map">
        <p *ngIf="mapScreen[i][j]">x</p>
      </div>
    </div>
  </div>

  <!-- Buttons for moving -->
  <div *ngIf="showButtons">
    <div class="row">
      <div class="col-lg-12"><button [disabled]="!buttons['nord']" class="margin-auto" (click)="onMove('nord')">Nord</button></div>
    </div>
    <div class="row">
      <div class="col-lg-6"><button [disabled]="!buttons['ouest']" class="margin-auto" (click)="onMove('ouest')">Ouest</button></div>
      <div class="col-lg-6"><button [disabled]="!buttons['est']" class="margin-auto" (click)="onMove('est')">Est</button></div>
    </div>
    <div class="row">
      <div class="col-lg-12"><button [disabled]="!buttons['sud']" class="margin-auto" (click)="onMove('sud')">Sud</button></div>
    </div>
  </div>
</div>

<!-- Informations about the map -->
<div class="container-fluid text-center">
  <div class="row">
    <div class="col-lg-3"><p>Joueurs<br />{{ map['players'] }}</p></div>
    <div class="col-lg-3"><p>Morts<br />{{ map['dead_players'] }}<br></p></div>
    <div class="col-lg-3"><p>Monstres<br />{{ map['monsters'] }}<br></p></div>
    <div class="col-lg-3"><p>MAP<br>{{ map['size'] }}x{{ map['size'] }}</p></div>
  </div>
</div>
